extends index_layout

block content
  pre ____ _________ ____ ____ _________ ____ ____ ____ ____ ____
  pre ||i |||       |||a |||m |||       |||e |||r |||r |||o |||r ||
  pre ||__|||_______|||__|||__|||_______|||__|||__|||__|||__|||__||
  pre |/__\|/_______\|/__\|/__\|/_______\|/__\|/__\|/__\|/__\|/__\|
  br
  h1= message
  h2= error.status
  pre #{error.stack}
