extends index_layout

block content
  pre ____ ____ ____ ____ _________ ____ ____ ____ ____ 
  pre ||w |||o |||m |||p |||       |||w |||o |||m |||p ||
  pre ||__|||__|||__|||__|||_______|||__|||__|||__|||__||
  pre |/__\|/__\|/__\|/__\|/_______\|/__\|/__\|/__\|/__\|
  br
  p Yep, it's really over.

block cta
  a.cta-start(href="start") Try again >