extends game_layout

block content
  p #{location.text}
  hr
  h2 Here are your options:

block actions
  - for (let action of location.actiontext)
    p.selection #{action}

block text-input
  div.input
    h2.light Type in your option:
    form(method="POST", action=`${userId}`)
      input(type="text", name="option" id="option" placeholder="your option" autofocus=true)
      input(type="submit", value="Submit", class="submit")
