doctype
html
  head
    title PKC Adventure Interview Game
    link(rel='stylesheet', href='stylesheets/style.css')
    - function randomImage(n) { return 1+Math.floor(Math.random() * Math.floor(n));}
  body(style='background-image: url(images/bg-'+randomImage(3)+'.png);')
    header
      h1 PKC Adventure Interview Game
    div.main-content.container
      block content
      block actions
      block text-input
