extends layout

block content
  p It’s another day at MicroSloth. You're at your desk, idly wondering if your project manager will finally read your email about why this project to automatically identify breeds of birds in photos would take way more than two months of work.

  p All of a sudden, Slack dings. It had been a long time since you heard that sound. Joey from marketing says, "Have you seen this?" and includes a link to pkc.io/apply. You roll your eyes, "Ugh, another company that promises fun and freedom but is really looking for a cog in their money machine."

block sidebar
  .widget
    h1 Widget
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.