doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Choose Your Own Adventure!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p footer