doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.home
    header
      h1 #{title}
    .container-home
      .main-content
        block content
        block cta
