extends start_layout

block content
  pre ____ ____ ____
  pre ||p |||k |||c ||
  pre ||__|||__|||__||
  pre |/__\|/__\|/__\|

  pre  ____ ____ ____ ____ ____ ____ _________ ____ ____ ____ ____
  pre ||c |||h |||o |||o |||s |||e |||       |||y |||o |||u |||r ||
  pre ||__|||__|||__|||__|||__|||__|||_______|||__|||__|||__|||__||
  pre |/__\|/__\|/__\|/__\|/__\|/__\|/_______\|/__\|/__\|/__\|/__\|
  pre  ____ ____ ____ _________ ____ ____ ____ ____ ____ ____ ____ ____ ____
  pre ||o |||w |||n |||       |||a |||d |||v |||e |||n |||t |||u |||r |||e ||
  pre ||__|||__|||__|||_______|||__|||__|||__|||__|||__|||__|||__|||__|||__||
  pre |/__\|/__\|/__\|/_______\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|


block cta
  a.cta(href="#book-a") Start! >
