extends success_layout

block content
  p
    pre oooo                                                    oooo        
    pre `888                                                    `888        
    pre  888 .oo.   oooo  oooo    oooooooo   oooooooo  .oooo.    888 .oo.   
    pre  888P"Y88b  `888  `888   d'""7d8P   d'""7d8P  `P  )88b   888P"Y88b  
    pre  888   888   888   888     .d8P'      .d8P'    .oP"888   888   888  
    pre  888   888   888   888   .d8P'  .P  .d8P'  .P d8(  888   888   888  
    pre o888o o888o  `V88V"V8P' d8888888P  d8888888P  `Y888""8o o888o o888o 

